{% extends "incomeslab/page_layout.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}
{% block page %}
    <main class="main" id="main">
        <div class="pagetitle">
            <h1>Generate ID Pin</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'incomeslab:home' %}">Home</a></li>
                    <li class="breadcrumb-item active">Generate ID Pin</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->
        <section class="section">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <form method="post">
                                {% csrf_token %}
                                <h5 class="card-title">Generate ID Pin</h5>

                                {{ form.share_no | as_crispy_field }}
                                {{ form.share_price | as_crispy_field }}
                                <button type="submit" class="btn btn-primary" value="Submit">
                                    <span class="oi oi-check"></span>
                                    Save
                                </button>
                                <a type="submit" class="btn btn-secondary" href="{{ request.META.HTTP_REFERER }}">
                                    <span class="oi oi-x"></span>
                                    Cancel
                                </a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}