{% extends "incomeslab/page_layout.html" %}
{% load django_tables2 %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}
{% block page %}
    {% if request.user.is_superuser %}
        <main class="main" id="main">
            <div class="pagetitle">
                <h1>Generate ID Pin</h1>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'incomeslab:home' %}">Home</a></li>
                        <li class="breadcrumb-item active">Generate ID Pin</li>
                    </ol>
                </nav>
            </div><!-- End Page Title -->
            <section class="section">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-body">
                                    <h5 class="card-title">Generate ID Pin</h5>
                                    <!-- Bordered Tabs -->
                                    <ul class="nav nav-tabs nav-tabs-bordered" id="borderedTab" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link active" id="home-tab" data-bs-toggle="tab"
                                                    data-bs-target="#bordered-home" type="button" role="tab"
                                                    aria-controls="home" aria-selected="true">List
                                            </button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="profile-tab" data-bs-toggle="tab"
                                                    data-bs-target="#bordered-profile" type="button" role="tab"
                                                    aria-controls="profile" aria-selected="false" tabindex="-1">Generate
                                                ID
                                            </button>
                                        </li>
                                    </ul>
                                    <div class="tab-content pt-2" id="borderedTabContent">
                                        <div class="tab-pane fade active show" id="bordered-home" role="tabpanel"
                                             aria-labelledby="home-tab">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th scope="col">ID Pin</th>
                                                    <th scope="col">Share No</th>
                                                    <th scope="col">Share Price</th>
                                                    <th scope="col">Created User or Not?</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for id_pin_objs in generated_ids %}
                                                    <tr>
                                                        <td class="col">{{ id_pin_objs.id_pin }}</td>
                                                        <td class="col">{{ id_pin_objs.share_no }}</td>
                                                        <td class="col">{{ id_pin_objs.share_price }}</td>
                                                        <td class="col">{{ id_pin_objs.created_user }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="tab-pane fade" id="bordered-profile" role="tabpanel"
                                             aria-labelledby="profile-tab">
                                            <form method="post">
                                                {% csrf_token %}
                                                <h5 class="card-title">Generate ID Pin</h5>

                                                {{ form.share_no | as_crispy_field }}
                                                {{ form.share_price_display | as_crispy_field }}
                                                <button type="submit" class="btn btn-primary" value="Submit">
                                                    <span class="oi oi-check"></span>
                                                    Save
                                                </button>
                                                <a type="submit" class="btn btn-secondary"
                                                   href="{{ request.META.HTTP_REFERER }}">
                                                    <span class="oi oi-x"></span>
                                                    Cancel
                                                </a>
                                            </form>
                                        </div>
                                    </div><!-- End Bordered Tabs -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    {% endif %}
{% endblock %}
{% block custom-plugins-js %}
    <script>
        $(document).ready(function () {
            $('#id_share_no').on('input', function () {
                var shareNo = parseFloat($(this).val());

                if (!isNaN(shareNo)) {
                    var sharePrice = shareNo * 1000;
                    $('#id_share_price_display').val(sharePrice);
                }
            });
        });
    </script>
{% endblock %}